*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #0f2027,
        #203a43,
        #2c5364
    );
}

.contenedor{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

h1{
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
}

.carnet{
    font-size: 28px;
    font-weight: bold;
    color: gold;
    margin-bottom: 20px;
}

button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: gold;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #ffe44d;
}
